body{
    background-color: black;
}
.victory-screen{
  z-index: 2;
  background:white;
  color: black;
  display: none;
  position: absolute;
  width: 740px;
  height:740px;
  padding: 1%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

#finalGrid{
   background-color:black;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

   width: 300px;
   height:300px;
   margin-left: auto;
   margin-right: auto;


   overflow: auto;
 }

 #playGrid{

   background-color:rgba(59, 59, 59, 0.979);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 740px;
   height:740px;
   padding: 1%;
   margin-top: 1em;
   margin-left: auto;
   margin-right: auto;
   overflow: auto;
 }


.cell {
   float: left;
   border:1px solid black;

   position:relative;
 }



.empty-block{
   background-color: black;
}


